@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --bg-black-900:#151515;
    --bg-black-100:#222222;
    --bg-black-50:#393939;
    --text-black-900:#ffffff;
    --text-black-700:#e9e9e9;
}
body.dark{
    --bg-black-900:#f2f2fc;
    --bg-black-100:#fdf9ff;
    --bg-black-50:#e8dfec;
    --text-black-900:#302e4d;
    --text-black-700:#504e70;
}
body{
    margin: 0;
    padding: 0;
    line-height:1.5;
    font-size: 16px;
    font-family: 'poppins' sans-serif;
}
*{
    margin:0;
    padding:0;
    outline:none;
    text-decoration: none;
    box-sizing: border-box;
}
::before,::after{
    box-sizing: border-box;

}
ul{
    list-style: none;
}
.section{
    background: var(--bg-black-900);
    min-height: 100vh;
    display: block;
    padding: 0 30px;
    position: fixed;
    top: 0;
    left: 270px;
    right: 0;
    z-index: 0;
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
    opacity: 1;
}
.section.active{
    z-index: 2;
    opacity: 1;
}

.section .container{
    padding-top:60px;
    padding-bottom: 70px;
}
.section-title{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 60px;
    /* background-color: red; */
}
.section-title h2{
    font-size: 40px;
    color: var(--text-black-900);
    font-weight: 700;
    position: relative;
}
.section-title h2::before{
    content: '';
    height: 4px;
    width: 50px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
}
.section-title h2::after{
    content: '';
    height: 4px;
    width: 25px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;
}
.hidden{
    display: none !important;
}
.main-content{
    padding-left: 270px;
}
.padd-15{
    padding-left: 15px;
    padding-right:15px;
}
.container{
    max-width: 1100px;
    width: 100%;
    /* background: red; */
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position:relative;
}
.btn{
    font-size: 16px;
    font-weight: 500;
    padding: 12px 35px;
    color: white;
    border-radius: 40px;
    border: none;
    display: inline-block;
    white-space: nowrap;
    background: var(--skin-color);
    transition: all 0.3s ease;
}
.btn:hover{
    transform: scale(1.05);
}
.shadow-dark{
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}
.aside{
    width: 270px;
    background: var(--bg-black-100);
    position: fixed;
    left: 0;
    top: 0;
    padding: 30px;
    height: 100%;
    border-right: 2px solid  var(--bg-black-50);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}
.aside .logo{
    position: absolute;
    top: 50px;
    font-size: 30px;
    text-transform: capitalize;
}
.aside .logo a{
    color: var(--text-black-900);
    font-weight: 700;
    padding: 15px 20px;
    font-size: 30px;
    letter-spacing: 5px;
    position: relative;
}
.aside .logo a span {
    font-family: 'clicker scrit', cursive;
    font-size: 40px;
}
.aside .logo a::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid var(--skin-color);
    border-left: 5px solid var(--skin-color);
    bottom: 0;
    left: 0;
}
.aside .logo a::after{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: 5px solid var(--skin-color);
    border-right: 5px solid var(--skin-color);
    top: 0;
    right: 0;
}
.aside .nav-toggler{
    height: 40px;
    width: 45px;
    border: 2px solid var(--bg-black-50);
    cursor: pointer;
    position: fixed;
    left: 300px;
    top: 20px;
    border-radius: 5px;
    background: var(--bg-black-100);
    display: none;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease;
}
.aside .nav-toggler.open span {
    background-color: transparent;
}
.aside .nav-toggler.open span::before{
    transform: rotate(45deg);
    top: 0;
}
.aside .nav-toggler.open span::after{
    transform: rotate(-45deg);
    top: 0;
}
.aside .nav-toggler span{
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    display: inline-block;
    position: relative;

}
.aside .nav-toggler span::before{
    content: '';
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top: -6px;
    left: 0;
}
.aside .nav-toggler span::after{
    content: '';
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top: 6px;
    left: 0;
}
.aside .nav{
    margin-top: 50px;
}
.aside .nav li{
    margin-bottom: 20px;
    display: block;
}
.aside .nav li a{
    font-size: 16px;
    font-weight: 600;
    display: block;
    border-bottom: 2px solid var(--bg-black-50);
    color: var(--text-black-900);
    padding: 5px 15px;
}
.aside .nav li a.active{
    color: var(--skin-color);
}
.aside .nav li a i{
    margin-right: 15px;
}
.home{
    min-height: 100vh;
    display: flex;
    color: var(--text-black-900);
}
.home .home-info{
    flex: 0 0 60%;
    max-width: 60%;
}
.home .home-img{
    flex: 0 0 40%;
    max-width: 40%;
    /* background: red; */
    text-align: center;
    position: relative;
}
.home .home-img img{
    height: 400px;
    margin: auto;
    border-radius: 10px;
}
h3.hello{
    font-size: 28px;
    margin: 15px 0;
}
h3.hello span{
    font-family: 'clicker script', cursive;
    font-size: 30px;
    font-weight: 700;
    color: var(--skin-color);
}
h3.my-profession{
    font-size: 30px;
    margin: 15px 0;
}
.typing{
    color: var(--skin-color);
}
.home-info p {
    margin-bottom: 70px;
    font-size: 20px;
    color: var(--text-black-700);
}
.home-img::after{
    content: '';
    position: absolute;
    width: 80px;
    height: 80px;
    border-bottom: 10px solid var(--skin-color);
    border-right: 10px solid var(--skin-color);
    bottom: -40px;
    right: 20px;
}
.home-img::before{
    content: '';
    position: absolute;
    width: 80px;
    height: 80px;
    border-top: 10px solid var(--skin-color);
    border-left: 10px solid var(--skin-color);
    top: -40px;
    left: 20px;
}
.about .about-content{
    flex: 0 0 100%;
    max-width: 100%;
    /* background-color: red; */
}
.about .about-content .about-text{
    flex: 0 0 100%;
    max-width: 100%;
    /* background-color: red; */
}
.about .about-content .about-text h3{
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 700;
    color: var(--text-black-900);
}
.about .about-content .about-text h3 span{
    color: var(--skin-color);
}
.about .about-content .about-text p{
    font-size: 16px;
    line-height: 25px;
    color: var(--text-black-700);
}
.about .about-content .personal-information{
    flex: 0 0 60%;
    max-width: 60%;
    /* background-color: red; */
    margin-top: 40px;
}
.personal{
    margin-bottom: 20px;
    color: var(--text-black-900);
    font-size: 24px;
    font-weight: 700;
    /* border-bottom: 2px solid var(--bg-black-50); */
    /* max-width: 40%; */
}
.about .about-content .skills{
    flex: 0 0 40%;
    max-width: 40%;
    /* background-color: green; */
    margin-top: 40px;
}
.about .about-content .personal-information .info-item{
    flex: 0 0 50%;
    max-width: 50%;
    /* margin-top: 20px; */
    /* background-color: red; */
}
.about .about-content .personal-information .info-item p{
    font-weight: 600;
    padding: 10px 0;
    font-size: 16px;
    color: var(--text-black-900);
    border-bottom: 2px solid var(--bg-black-50);
}
.about .about-content .personal-information .info-item p span{
    font-weight: 400;
    color: var(--text-black-700);
    margin-left: 4px;
    display: inline-block;
}
.about .about-content .skills .skill-item {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 25px;
    /* background-color: red; */
}
.skill{
    margin-bottom: 10px;
    color: var(--text-black-900);
    font-size: 24px;
    font-weight: 700;
    /* border-bottom: 2px solid var(--bg-black-50); */
}
.about .about-content .skills .skill-item h5{
    line-height: 40px;
    font-weight: 600;
    font-size: 16px;
    color: var(--text-black-900);
    text-transform: capitalize;
}
.about .about-content .skills .skill-item .progress{
    background-color: var(--bg-black-50);
    height: 7px;
    border-radius: 4px;
    width: 100%;
    position: relative;
}
.about .about-content .skills .skill-item .progress .progress-in{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 4px;
    background-color: var(--skin-color);
}
.about .about-content .skills .skill-item .skill-percent{
    position: absolute;
    right: 0;
    color: var(--text-black-900);
    top: -40px;
    font-weight: 400;
    line-height: 40px;
}
.about .about-content .education{
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: -200px;
    
    /* background-color: red; */

}
.about .about-content h3.title {
    font-size: 26px;
    margin-bottom: 30px;
    font-weight: 700;
    color: var(--text-black-900);
}
.about .about-content .timeline-box{
    flex: 0 0 100%;
    max-width: 100%;
}
.about .about-content .timeline{
    background-color: var(--bg-black-100);
    padding: 30px 15px;
    border: 2px solid var(--bg-black-50);
    border-radius: 10px;
    width: 100%;
    position: relative;
}
.about .about-content .timeline .timeline-item{
    position: relative;
    padding-left: 37px;
    padding-bottom: 50px;
}
.about .about-content .timeline .timeline-item:last-child{
    padding-bottom: 0;
}
.about .about-content .timeline .timeline-item::before{
    content: '';
    width: 1px;
    position: absolute;
    height: 100%;
    left: 7px;
    top: 0;
    background-color: var(--skin-color);
}
.about .about-content .timeline .circle-dot{
    position: absolute;
    left: 0;
    top: 0;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: var(--skin-color);
}
.about .about-content .timeline .timeline-date{
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 12px;
    color: var(--text-black-700);
}
.about .about-content .timeline .timeline-date .fa{
    margin-right: 5px;
}
.about .about-content .timeline .timeline-title{
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
    text-transform: capitalize;
    color: var(--text-black-900);
}
.about .about-content .timeline .timeline-college,
.about .about-content .timeline .timeline-grade{
    line-height: 25px;
    font-size: 16px;
    text-align: justify;
    color: var(--text-black-700);
}
.about .about-content .timeline .timeline-title span {
    color: var(--text-black-700);
    font-size: 15px;
}

.resume .section-title{
    color: var(--text-black-900);
}
.resume .buttons #btn2{
    margin-left: 30px;
    margin-top: 20px;
    font-size: 26px;
}
.resume .buttons #btn1{
    font-size: 26px;
    
}
.resume .buttons{
    /* background-color: red; */
    padding: 200px 420px;
    background-image: url(res\ pic.jpg);
    background-size: cover;
    background-position: center;
    margin-left: 10px;
}
.project .project-heading{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 40px;

}
.project .project-heading h2{
    color: var(--text-black-900);
    font-weight: 500;

}
.project .container{
    padding-bottom: 40px;
}
.project .project-item{
    flex: 0 0 50%;
    max-width: 50%;
    margin-bottom: 30px;
    display: flex;
}
.project .project-item-inner{
    border: 6px solid var(--bg-black-100);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}
.project .container .project-item-inner .project-img img{
    width: 100%;
    display: block;
    /* background-size: cover; */
}
.project .container .project-item-inner .project-img h4{
    font-size: 20px;
    margin-left: 100px;
    color: var(--text-black-700);
}
.project .container .project-item-inner .project-img #hii{
    margin-left: 140px;
}
.contact .contact-info-item{
    flex: 0 0 25%;
    max-width: 25%;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
}
.contact .contact-info-item .icon{
    display: inline-block;

}
.contact .contact-info-item .icon .fa{
    font-size: 25px;
    color: var(--skin-color);
}
.contact .contact-info-item h4{
    font-size: 18px;
    font-weight: 700;
    color: var(--text-black-900);
    text-transform: capitalize;
    margin: 15px 0 5px;
}
.contact .contact-info-item p{
    font-size: 16px;
    line-height: 25px;
    color: var(--text-black-700);
    font-weight: 400;
}
.contact .contact-title{
    color: var(--skin-color);
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    /* text-transform: uppercase; */
    /* border-bottom: 2px solid var(--bg-black-50); */
    margin-bottom: 20px;
}
.contact .contact-sub-title{
    color: var(--text-black-700);
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 30px;
}
.contact .contact-form{
    flex: 0 0 100%;
    max-width: 100%;

}
.contact .contact-form .col-6{
    flex: 0 0 50%;
    max-width: 50%;
}
.contact .contact-form .col-12{
    flex: 0 0 100%;
    max-width: 100%;
}
.contact .contact-form .form-item{
    margin-bottom: 30px;
}
.contact .contact-form .form-item .form-control{
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: var(--bg-black-100);
    border: 2px solid var(--bg-black-50);
    padding: 10px 25px;
    font-size: 16px;
    color: var(--text-black-700);
    transition: all 0.3s ease;
}
.contact .contact-form .form-item .form-control:focus{
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}
.contact .contact-form .form-item textarea.form-control{
    height: 140px;
}
.contact .contact-form .btn{
    height: 50px;
    padding: 0 50px;
}

.contact .contact-form .find{
    font-size: 20px;
    margin-left: 450px;
    color: var(--text-black-700);
    margin-top: 30px;
    margin-right: 10px;
}
.contact .contact-form .instagram,
.contact .contact-form .facebook,
.contact .contact-form .snapchat{
    font-size: 28px;
    color: var(--skin-color);
    margin-top: 26px;
    padding: 0 5px;
}
/* .contact .contact-form #last{
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
} */










@media (max-width:1199px){
    .aside{
        left: -270px;
    } 
    /* .main-content{
        padding-left: 0;
    } */
     .aside.open{
        left:0;
     }
     .aside .nav-toggler.open{
        left: 300px;
     }
     .aside .nav-toggler{
        display: flex;
        left: 30px;
     }
     .section{
        left: 0;
     }
     .section.open{
        left: 270px;
     }
    .about .about-content .personal-information .info-item p span {
        display: block;
        margin-left: 0;
    }
    .contact .contact-form #last{
        display: flex;
        /* flex-direction: column; */
        /* right: 100px; */
        left: 160px;
        flex: 0 0 100%;
        max-width: 100%;
    }
}
@media (max-width:991px){
    .home .home-img{
        display: none;
    }
    .home .home-info{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .project .project-item{
        flex: 0 0 50%;
        max-width: 50%;
    }
    .resume .buttons{
        padding: 100px 100px;
    }
}
@media (max-width:767px){
    .project .project-item,
    .about .about-content .education,
    .about .about-content .skills,
    .about .about-content .personal-information,
    .contact .contact-info-item,
    .contact .contact-form .col-6{
        flex: 0 0 100%;
        max-width: 100%;
    }


}